<div ng-controller="OnSiteNotificationEngine" agent-uri="{{ authorURI }}">

    <div class="popup base-popup" ng-cloak ng-show="showNotification" style="z-index: 999;">
        <div class="close" ng-click="cancel()"></div>
        <div class="body">
            [[ message ]]
        </div>
        <div class="toolbar">
            <a href="" style="margin-right: 45px;" ng-click="ok()" class="button grey">
                [[ action ]]
            </a>
        </div>
    </div>

</div>